{{define "title"}}Home{{end}}

{{define "page-header"}}Plant List{{end}}

{{define "main"}}
<article>
    {{if .}}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Common Name</th>
            <th>Seed Company</th>
            <th>Days to Harvest</th>
            <th>Type</th>
        </tr>
        {{range .}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Name}}</td>
            <td>{{.CommonName}}</td>
            <td>{{.SeedCompany}}</td>
            <td>{{.ExpectedDaysToHarvest}}</td>
            <td>{{.Type}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>There's nothing to see here yet!</p>
    {{end}}
</article>
{{end}}